.body {
  margin-top: max(88px, 15%);
}

.sectionTitle {
  width: min-content;
}

.sectionTitle :after {
  content: "";
  display: block;
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background: #597ede;
  left: 0;
}

.mainText {
  margin-bottom: 3rem;
}
