---
import Layout from '../layouts/Layout.astro';
import NavBar from '../components/navbar';
import face from '../assets/face.jpg';
import codeIcon from '../assets/codeIcon.svg';
import profileIcon from '../assets/profileIcon.svg';
---

<Layout title="Home | Cormac">
	<NavBar client:load />
	<main class="mt-max-margin min-h-body-min mx-auto px-4 container">
		<div class="grid grid-cols-1 md:grid-cols-2 items-center gap-y-12">
			<div class="md:pr-8">
				<div class="mb-8 text-theme-blue text-5xl md:!text-7xl">Cormac Cureton</div>
				<div class="text-2xl font-semibold text-gray-600">
					<a class="no-underline text-gray-600" href="/lite">AI Researcher</a>
					<span class="mx-2">|</span>
					Engineer
				</div>
			</div>
			<div class="flex justify-center md:justify-end">
				<div class="mx-[10%] md:mr-[20%] md:ml-0 transition-transform duration-300" style="animation: fadeInScale .3s ease forwards; transform: scale(.5); opacity:0;">
					<img src={face.src} alt="Headshot" class="rounded-full object-cover" width={384} height={384} loading="eager" />
				</div>
			</div>
		</div>
		<div class="grid grid-cols-1 md:grid-cols-2 mt-[5%] gap-8">
			<div class="flex justify-center">
				<a href="/projects" class="min-w-48 inline-block no-underline">
					<button class="w-full flex items-center justify-center gap-2 bg-theme-blue hover:bg-theme-blue-accent text-white text-2xl py-3 my-1 rounded-md transition-transform duration-150 active:scale-90 hover:scale-105 !no-underline">
						<img src={codeIcon.src} alt="Code Icon" class="m-1" width="30" height="30" />
						<span>View Projects</span>
					</button>
				</a>
			</div>
			<div class="flex justify-center">
				<a href="/about" class="min-w-48 inline-block no-underline">
					<button class="w-full flex items-center justify-center gap-2 border border-theme-blue text-theme-blue hover:bg-theme-blue-light text-2xl py-3 my-1 rounded-md transition-transform duration-150 active:scale-90 hover:scale-105 !no-underline">
						<img src={profileIcon.src} alt="Profile Icon" class="m-1" width="30" height="30" />
						<span>About Me</span>
					</button>
				</a>
			</div>
		</div>
	</main>
</Layout>

<style>
@keyframes fadeInScale { to { transform: scale(1); opacity: 1; } }
</style>
