.body {
  margin-top: max(88px, 15%);
}

.landingTitle {
  margin-bottom: 2rem;
}

.landingTitle h1 {
  color: #597ede;
  font-size: 4.5rem;
}

.landingSubTitle p {
  color: #6b6b6b;
  font-size: 1.5rem;
  font-weight: bolder;
}

.body .btn {
  font-size: 1.5rem;
  font-weight: bolder;
  padding-top: 16px;
  padding-bottom: 16px;
  min-width: 220px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #597ede;
  border-color: #597ede;
}

.btn-outline-primary {
  color: #597ede;
  border-color: #597ede;
  border-width: 3px;
}
