.card-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.card-subtitle {
  font-size: 1.25rem;
}

.card {
  border-radius: 0.75rem;
  padding: 1rem;
}

.card p {
  font-size: 1.25rem !important;
  color: black;
}
