@tailwind base;
@tailwind components;
@tailwind utilities;

.card-title {
  font-size: 1.5rem;
  font-weight: bolder;
}

.card-subtitle {
  font-size: 1.25rem;
}

.card {
  border-radius: 0.75rem;
  padding: 1rem;
  margin-bottom: 3rem;
}

.card p {
  font-size: 1.25rem !important;
  color: black;
}

.projectImage {
  max-width: 100%;
  max-height: 100%;
}

.projectCard {
  @media (min-width: 768px) {
    min-height: 16rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
  }
}

a {
  color: black;
  text-decoration: none;
}
