---
import 'bootstrap/dist/css/bootstrap.min.css';
import '../styles/global.css';
import AnalyticsWrapper from '../components/analyticsWrapper';
// Accept a title prop with fallback
const { title = 'Cormac Cureton' } = Astro.props;
const createThemedIconHref = (char: string = "ⓒ"): string => {
	// TODO: bring back colour scheme detection
    // const colorScheme = "light";
    return `data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='0.9em' font-size='90' fill='${
    //   colorScheme === "dark" ? "white" : "black"
	"black"
    }'>${char}</text></svg>`;
  };
---

<!doctype html>
<html lang="en" class="min-h-full">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={createThemedIconHref("ⓒ")} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="min-h-full antialiased bg-white text-gray-900">
		<slot />
		<AnalyticsWrapper />
	</body>
</html>
